

.item {
    position: relative;
    width: 370px;
    overflow: hidden;
    /* border: 1px solid #ccc; */
}
 .item {
    height: 350px;
}
                                           
.item a {
    /* text-decoration: none; */
    color: #000;
}
                   
.item-billboard, .item-detail {
    padding: 10px;
    height: 370px;
}
                   
.item-billboard {
    margin-top: 0;
    background: #fff;
}
 
.item-billboard {
    font-size: 13px;
    font-weight: bold;
    color: #262626;
    font-family: 'Open Sans',arial,sans-serif;
    text-align: right;
    color: blue;
    margin-top: 10px;
}
                   
.item-detail {
    /* height: 370px; */
    background: #ececec;
    font-family: verdana;
}